[dotenv@17.3.1] injecting env (8) from .env.local -- tip: ­ƒöÉ prevent committing .env to code: https://dotenvx.com/precommit
[dotenv@17.3.1] injecting env (0) from .env -- tip: ÔÜÖ´©Å  enable debug logging with { debug: true }
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "category" (
    "id" SERIAL NOT NULL,
    "name_fr" TEXT NOT NULL,
    "name_en" TEXT,
    "name_lb" TEXT,
    "type" TEXT NOT NULL,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dish" (
    "dish_id" SERIAL NOT NULL,
    "name_fr" TEXT NOT NULL,
    "name_en" TEXT,
    "name_lb" TEXT,
    "description_fr" TEXT,
    "description_en" TEXT,
    "description_lb" TEXT,
    "price_eur" DECIMAL(6,2) NOT NULL,
    "image_url" TEXT,
    "is_available" BOOLEAN NOT NULL DEFAULT true,
    "is_popular" BOOLEAN NOT NULL DEFAULT false,
    "is_new" BOOLEAN NOT NULL DEFAULT false,
    "discount" DOUBLE PRECISION DEFAULT 1.0,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "has_variants" BOOLEAN NOT NULL DEFAULT false,
    "selection_label" TEXT,
    "record_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "dish_pkey" PRIMARY KEY ("dish_id")
);

-- CreateTable
CREATE TABLE "dish_variant" (
    "id" SERIAL NOT NULL,
    "dish_id" INTEGER NOT NULL,
    "name_fr" TEXT NOT NULL,
    "name_en" TEXT,
    "name_lb" TEXT,
    "price_eur" DECIMAL(6,2),
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "is_available" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "dish_variant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "allergen" (
    "id" INTEGER NOT NULL,
    "name_fr" TEXT NOT NULL,
    "name_en" TEXT,
    "name_lb" TEXT,
    "icon" TEXT,

    CONSTRAINT "allergen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dish_allergen" (
    "dish_id" INTEGER NOT NULL,
    "allergen_id" INTEGER NOT NULL,

    CONSTRAINT "dish_allergen_pkey" PRIMARY KEY ("dish_id","allergen_id")
);

-- CreateTable
CREATE TABLE "drink" (
    "drink_id" SERIAL NOT NULL,
    "name_fr" TEXT NOT NULL,
    "name_en" TEXT,
    "name_lb" TEXT,
    "description_fr" TEXT,
    "description_en" TEXT,
    "description_lb" TEXT,
    "selection_mode" TEXT,
    "record_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "drink_pkey" PRIMARY KEY ("drink_id")
);

-- CreateTable
CREATE TABLE "drink_size" (
    "drink_id" INTEGER NOT NULL,
    "size" TEXT NOT NULL,
    "price_eur" DECIMAL(6,2) NOT NULL,
    "discount" DOUBLE PRECISION DEFAULT 1.0,
    "image_url" TEXT,

    CONSTRAINT "drink_size_pkey" PRIMARY KEY ("drink_id","size")
);

-- CreateTable
CREATE TABLE "drink_selection" (
    "id" SERIAL NOT NULL,
    "drink_id" INTEGER NOT NULL,
    "name_fr" TEXT NOT NULL,
    "name_en" TEXT,
    "name_lb" TEXT,
    "price_delta" DECIMAL(6,2) NOT NULL DEFAULT 0,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "is_available" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "drink_selection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categories_dishes" (
    "category_id" INTEGER NOT NULL,
    "dish_id" INTEGER NOT NULL,

    CONSTRAINT "categories_dishes_pkey" PRIMARY KEY ("category_id","dish_id")
);

-- CreateTable
CREATE TABLE "categories_drinks" (
    "category_id" INTEGER NOT NULL,
    "drink_id" INTEGER NOT NULL,

    CONSTRAINT "categories_drinks_pkey" PRIMARY KEY ("category_id","drink_id")
);

-- CreateTable
CREATE TABLE "item_association" (
    "id" SERIAL NOT NULL,
    "source_dish_id" INTEGER NOT NULL,
    "target_dish_id" INTEGER NOT NULL,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "sort_order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "item_association_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customer_preference" (
    "id" SERIAL NOT NULL,
    "account_name" TEXT NOT NULL,
    "dish_id" INTEGER,
    "drink_id" INTEGER,
    "order_count" INTEGER NOT NULL DEFAULT 1,
    "last_ordered" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "customer_preference_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_special" (
    "id" SERIAL NOT NULL,
    "dish_id" INTEGER NOT NULL,
    "start_date" DATE NOT NULL,
    "end_date" DATE NOT NULL,
    "special_price" DECIMAL(6,2),
    "description" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "weekly_special_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "live_event" (
    "id" SERIAL NOT NULL,
    "title_fr" TEXT NOT NULL,
    "title_en" TEXT,
    "title_lb" TEXT,
    "event_date" TIMESTAMP(3) NOT NULL,
    "event_type" TEXT NOT NULL,
    "description" TEXT,
    "image_url" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_recurring" BOOLEAN NOT NULL DEFAULT false,
    "recurrence" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "live_event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_session" (
    "id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "restaurant_table" (
    "table_number" INTEGER NOT NULL,
    "location" TEXT NOT NULL DEFAULT 'int├®rieur',

    CONSTRAINT "restaurant_table_pkey" PRIMARY KEY ("table_number")
);

-- CreateTable
CREATE TABLE "transfers" (
    "id" BIGINT NOT NULL,
    "from_account" TEXT NOT NULL,
    "to_account" TEXT NOT NULL DEFAULT 'millewee',
    "amount" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "memo" TEXT,
    "parsed_memo" TEXT,
    "fulfilled" BOOLEAN DEFAULT false,
    "received_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "fulfilled_at" TIMESTAMPTZ(6),

    CONSTRAINT "transfers_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "item_association_source_dish_id_target_dish_id_key" ON "item_association"("source_dish_id", "target_dish_id");

-- CreateIndex
CREATE UNIQUE INDEX "customer_preference_account_name_dish_id_key" ON "customer_preference"("account_name", "dish_id");

-- CreateIndex
CREATE UNIQUE INDEX "customer_preference_account_name_drink_id_key" ON "customer_preference"("account_name", "drink_id");

-- AddForeignKey
ALTER TABLE "dish_variant" ADD CONSTRAINT "dish_variant_dish_id_fkey" FOREIGN KEY ("dish_id") REFERENCES "dish"("dish_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "dish_allergen" ADD CONSTRAINT "dish_allergen_dish_id_fkey" FOREIGN KEY ("dish_id") REFERENCES "dish"("dish_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "dish_allergen" ADD CONSTRAINT "dish_allergen_allergen_id_fkey" FOREIGN KEY ("allergen_id") REFERENCES "allergen"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "drink_size" ADD CONSTRAINT "drink_size_drink_id_fkey" FOREIGN KEY ("drink_id") REFERENCES "drink"("drink_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "drink_selection" ADD CONSTRAINT "drink_selection_drink_id_fkey" FOREIGN KEY ("drink_id") REFERENCES "drink"("drink_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categories_dishes" ADD CONSTRAINT "categories_dishes_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "category"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categories_dishes" ADD CONSTRAINT "categories_dishes_dish_id_fkey" FOREIGN KEY ("dish_id") REFERENCES "dish"("dish_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categories_drinks" ADD CONSTRAINT "categories_drinks_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "category"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categories_drinks" ADD CONSTRAINT "categories_drinks_drink_id_fkey" FOREIGN KEY ("drink_id") REFERENCES "drink"("drink_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "item_association" ADD CONSTRAINT "item_association_source_dish_id_fkey" FOREIGN KEY ("source_dish_id") REFERENCES "dish"("dish_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "item_association" ADD CONSTRAINT "item_association_target_dish_id_fkey" FOREIGN KEY ("target_dish_id") REFERENCES "dish"("dish_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_preference" ADD CONSTRAINT "customer_preference_dish_id_fkey" FOREIGN KEY ("dish_id") REFERENCES "dish"("dish_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "customer_preference" ADD CONSTRAINT "customer_preference_drink_id_fkey" FOREIGN KEY ("drink_id") REFERENCES "drink"("drink_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_special" ADD CONSTRAINT "weekly_special_dish_id_fkey" FOREIGN KEY ("dish_id") REFERENCES "dish"("dish_id") ON DELETE RESTRICT ON UPDATE CASCADE;

